---
layout: splash
header:
  overlay_color: "#5e616c"
  overlay_image: home.jpg
title: Hello!
excerpt: 'Welcome to my blog. You could start with one of the featured posts, or find my previous posts in the archives.'
feature_row:
  - image_path: dance.jpg
    alt: "Dance with me"
    title: "Dance with me"
    excerpt: "“I can’t dance. Here, let me teach you.”"
    url: "/posts/dance/"
    btn_label: "Read"
intro:
  - excerpt: 'Here are some of my favorites!'
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}