---
layout: splash
header:
  overlay_color: "#5e616c"
  overlay_image: home.jpg
title: Home
excerpt: 'Welcome to my blog. You could start with one of the featured posts, or find my previous posts in the archives.'
feature_row:
  - image_path: 5am.jpg
    alt: "5 AM"
    title: "5 AM"
    excerpt: "The true essence of conversations"
    url: "/posts/5am/"
    btn_label: "Read"
  - image_path: dance-front.jpg
    alt: "Dance with me"
    title: "Dance with me"
    excerpt: "“I can’t dance. Here, let me teach you.”"
    url: "/posts/dance/"
    btn_label: "Read"
  - image_path: limns-front.jpg
    alt: "Limns"
    title: "Limns of a beautiful time."
    excerpt: "A love story inked across realms and years."
    url: "/posts/limns/"
    btn_label: "Read"
intro:
  - excerpt: 'LATEST POSTS'
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}